CONTEXT_DUMP.txt
confession*.aux
confession*.log
confession*.out
confession*.toc
confession.pdf
confession-paperback.pdf
memorandum.aux
memorandum.log
memorandum.out
memorandum.pdf
bishop-presbyter.aux
bishop-presbyter.log
bishop-presbyter.out
bishop-presbyter.pdf
resources/npnf211.*
resources/*.aux
resources/*.log
resources/*.out
resources/*.toc
resources/commonitory.pdf
resources/development.pdf
resources/consulting.pdf
resources/law.pdf
resources/cyril.pdf
resources/gregory.pdf
resources/enchiridion.pdf
resources/npnf205.xml
resources/npnf207.xml
resources/npnf214.xml
resources/npnf212.xml
resources/anf01.xml
resources/anf03.xml
resources/anf05.xml
resources/councils.pdf
resources/cbuild.log
resources/npnf204.xml
resources/anf07.xml
resources/clement.pdf
resources/justin.pdf
resources/didache.pdf
resources/festal39.pdf
resources/gregory-letters.pdf
resources/soulres.pdf
resources/onbaptism.pdf
resources/ravenna.pdf
resources/chieti.pdf
resources/jddj.pdf
resources/encyclical1848.pdf
resources/scranton.pdf
resources/cassian-prayer.pdf
resources/benedict-rule.pdf
resources/npnf104.xml
resources/ignatius.pdf
resources/irenaeus3.pdf
resources/baptism.pdf
resources/unity.pdf
resources/tome.pdf
resources/build.log
resources/dbuild.log
.wrangler/
contact-worker/.wrangler/
contact-worker/node_modules/
resources/__pycache__/
resources/docs-src/bor.txt
